@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    @if (ViewBag.Title != null)
    {
        <title>Eyewear Glasses - @ViewBag.Title</title>
    }
    else
    {
        <title>Eyewear Glasses</title>
    }

    <link href="@Url.Content("~/Themes/EyewearGlasses/Content/ewg/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Themes/EyewearGlasses/Content/ewg/css/owl.carousel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Themes/EyewearGlasses/Content/ewg/css/skin.min.css")" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!--[if IE]>
    <script src="@Url.Content("~/Themes/EyewearGlasses/Content/ewg/js/vendor/html5shiv.js")"></script>
    <![endif]-->
</head>
<body>
    <div class="page-wrapper">
        <header class="main-header">

            <div class="dark-bg">
                <div class="container">
                    <nav class="navbar navbar-default" id="upper">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar-upper">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <p class="navbar-text upper medium">Free Shipping &amp; Returns <a href="#">Shop Now</a></p>
                        </div>
                        <div class="collapse navbar-collapse" id="collapse-navbar-upper">
                            <ul class="nav navbar-nav navbar-right lined-navbar">
                                <li><a href="#">Register</a></li>
                                <li><a href="#">Login</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-heart-o"></i> (0) <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-shopping-bag"></i> (0) <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-usd"></i> CAN <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="white-bg bordered-bottom">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header logo-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar-upper2">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand logo" href="#">
                                <img src="~/Themes/EyewearGlasses/Content/ewg/img/logo.png" class="adaptive">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="collapse-navbar-upper2">
                            <ul class="nav navbar-nav main-nav">
                                <li class="dropmenu">
                                    <a href="">Mens</a>
                                    <div class="dropmenu-content">
                                        <div class="table">
                                            <div class="cell">
                                                <div class="outer relative right">
                                                    <img src="~/Themes/EyewearGlasses/Content/ewg/img/man-left.png" alt="" class="content-image bottom-left">
                                                    <div class="inline relative">
                                                        <div class="drop-list left">
                                                            <a href="#" class="anchor">clear glasses <i class="fa fa-chevron-right"></i></a>
                                                            <ul class="clear-list">
                                                                <li><a href="#">new arrivals</a></li>
                                                                <li><a href="#">best sellers</a></li>
                                                                <li><a href="#">view all</a></li>
                                                                <li><a href="#">something more</a></li>
                                                                <li><a href="#">something more 2</a></li>
                                                                <li><a href="#">something more 3</a></li>
                                                                <li><a href="#">something more 4</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="outer relative left">
                                                    <img src="~/Themes/EyewearGlasses/Content/ewg/img/man-right.png" alt="" class="content-image bottom-right">
                                                    <div class="inline relative">
                                                        <div class="drop-list right">
                                                            <a href="#" class="anchor">sunglasses <i class="fa fa-chevron-right"></i></a>
                                                            <ul class="clear-list">
                                                                <li><a href="#">new arrivals</a></li>
                                                                <li><a href="#">best sellers</a></li>
                                                                <li><a href="#">view all</a></li>
                                                                <li><a href="#">something more</a></li>
                                                                <li><a href="#">something more 2</a></li>
                                                                <li><a href="#">something more 3</a></li>
                                                                <li><a href="#">something more 4</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="">Womens</a></li>
                                <li><a href="">Contacts</a></li>
                                <li><a href="">Gaming</a></li>
                                <li><a href="">Designers</a></li>
                            </ul>
                            <form action="" class="navbar-form navbar-right navbar-input-group header-search">
                                <div class="input-group">
                                    <label for="mainSearch" class="input-group-addon"><i class="fa fa-search"></i></label>
                                    <div class="cell">
                                        <input type="text" class="form-control" id="mainSearch" placeholder="SEARCH ITEMS">
                                        <span class="cross"><span>&times;</span></span>
                                    </div>
                                    <!--<div class="input-group-btn">
                                        <div class="btn-group">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="">Search</a></li>
                                                <li><a href="">Search Two</a></li>
                                                <li><a href="">Search Three</a></li>
                                            </ul>
                                        </div>
                                    </div>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </header>
       @RenderBody()
    </div>
    <footer class="main-footer">
        <div class="content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">
                        <a href="imdex.html" class="logo">
                            <img src="~/Themes/EyewearGlasses/Content/ewg/img/logo.png" alt="">
                        </a>
                        <ul class="clear-list center pad-top-20">
                            <li class="pad-top-10">1 (888) 888 88 88 8</li>
                            <li class="pad-top-10">1 (888) 888 88 88 8</li>
                            <li class="pad-top-10">info@eyewearglasses.ca</li>
                        </ul>
                        <ul class="row clear-list sponsors-list">
                            <li class="col-xs-3"><img src="~/Themes/EyewearGlasses/Content/ewg/img/sponsor1.png" class="adaptive" alt=""></li>
                            <li class="col-xs-3"><img src="~/Themes/EyewearGlasses/Content/ewg/img/sponsor2.png" class="adaptive" alt=""></li>
                            <li class="col-xs-3"><img src="~/Themes/EyewearGlasses/Content/ewg/img/sponsor3.png" class="adaptive" alt=""></li>
                            <li class="col-xs-3"><img src="~/Themes/EyewearGlasses/Content/ewg/img/sponsor4.png" class="adaptive" alt=""></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h3 class="title">e-services</h3>
                        <ul class="clear-list menu-list">
                            <li><a href="#">New products</a></li>
                            <li><a href="#">Recently viewed products</a></li>
                            <li><a href="#">Compare products list</a></li>
                            <li><a href="#">Search</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h3 class="title">about</h3>
                        <ul class="clear-list menu-list">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Return policy</a></li>
                        </ul>
                        <h3 class="title rev-margin">connect</h3>
                        <ul class="clear-list menu-list">
                            <li><a href="#">Subscribe to our Blog</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h3 class="title no-margin">get social</h3>
                        <ul class="clear-list menu-list">
                            <li><a href="#">Follow Us At</a></li>
                        </ul>
                        <ul class="clear-list social-list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        <h3 class="title rev-margin">download</h3>
                        <ul class="clear-list menu-list">
                            <li><a href="#">Download our Mobile App</a></li>
                        </ul>
                        <a href="#" class="inline marg-top-20"><img src="~/Themes/EyewearGlasses/Content/ewg/img/google-play.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row medium">
                    <div class="col-sm-6">&copy; 2016 Eyewear Glasses</div>
                    <div class="col-sm-6 right">Powered by <a href="#">Variation Media</a></div>
                </div>
            </div>
        </div>
    </footer>

    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/Themes/EyewearGlasses/Content/ewg/js/vendor/finalevent.js")"></script>
    <script src="~/Themes/EyewearGlasses/Content/ewg/js/vendor/modernizr-2.7.1.min.js"></script>
    <script src="~/Themes/EyewearGlasses/Content/ewg/js/vendor/jquery-2.1.0.min.js"></script>
    <script src="~/Themes/EyewearGlasses/Content/ewg/js/vendor/jquery.easing.1.3.js"></script>
    <script src="~/Themes/EyewearGlasses/Content/ewg/js/vendor/owl.carousel.min.js"></script>
    <script src="~/Themes/EyewearGlasses/Content/ewg/js/vendor/jquery.countdown.min.js"></script>
    <script src="~/Themes/EyewearGlasses/Content/ewg/js/vendor/jquery.mask.min.js"></script>
    <script src="~/Themes/EyewearGlasses/Content/ewg/js/vendor/jquery.mousewheel.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Themes/EyewearGlasses/Content/ewg/js/main.js"></script>
</body>
</html>